 * {
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
 }

 body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
 }

 header {
   background-color: rgb(157, 201, 201);
   display: flex;
   justify-content: space-between;
   padding: 1vh 2vw;
 }

 nav>ul {
   display: flex;
   gap: 8px;
 }

 main {
   flex-grow: 1;
   padding: 2vw;
   width: 100%;
   display: grid;
   background-color: beige;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2vw;
 }

 section {
   background: rgb(196, 182, 182);
   padding: 2vw;
   border-radius: 3px;
   box-shadow: 3px 3px 3px;
   border: 2px solid gray;
 }

 section:hover {
   transform: rotate(90);
   transform: scale(1.1);
 }

 footer {
   background-color: gray;
   padding: 2vw;
 }

 @media screen and (max-width: 768px) {

   nav>ul {
     display: flex;
     flex-direction: column;
     gap: 8px;
   }

   main {
     display: grid;
     grid-template-columns: 1fr;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1024px) {

   main {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }
 }