 * {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
 }

header {
   display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
 }

 nav>ul {
   display: flex;
   gap: 8px;
 }



 footer {
   background-color: gray;
   padding: 2vw;
 }