body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2VW;
  gap: 20px;
}

.inner {
  padding: 5vw;
  border-radius: 10px;
  font-weight: 700;
}

.content {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-color: rgb(216, 121, 121);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
  height: 300px;
  width: 300px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: gray;
  padding: 2vw;
}